* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: #fadb9d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.App {
}

.strong{
  color: #004f77;
  font-weight: 600;
}
